* {
    border: 0px;
    margin: 0px;
}

.btn {
    border-radius: 8px;
    background: #00c3ff;
    color: white;
    padding: 14px 23px;
    gap: 10px;
    font-weight: 700;

}

.banner {
    height: 100vh;
    background-color: #ff7fc5ae;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

.banner-left {
    text-align: left;
    margin: 100px 100px;
    padding: 20px;
}

.head-line {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    padding-bottom: 25px;
}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}

.banner-img {
    padding-top: 20px;
    padding-right: 30px;
    width: 500px;
}

.main-flower-section {
    height: 100vh;
    padding: 20px;
}

.flowers-header {
    text-align: center;
    padding-top: 100px;
}

.flowers-header-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.flowers-header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 40px;
}

.flowers-box {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}

.box-flower1 {
    background-color: #A7216226;
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
}

.box-flower2 {
    background-color: #0597A026;
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
}

.box-flower3 {
    background-color: #477D1126;
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
}

.image-size {
    width: 250px;
    height: 300px;
}

.box-flower-name {
    background-color: rgb(255, 255, 255);
    padding-bottom: 100px;
    padding-top: 20px;
    text-decoration: underline;
}


.service-container {
    display: flex;
    background-color: #ff000034;
    color: rgba(39, 39, 39, 0.80);
    width: 80%;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.service-items-description {
    font-size: 16px;
    font-weight: 600;
}

.sale-part {
    background-color: #d618415a;
    height: 80vh;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sale-part-information {
    text-align: center;
}

.sale-part-title {
    color: #272727;
    font-size: 34px;
    font-weight: 800;
    padding-bottom: 20px;
}

.sale-part-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding-bottom: 20px;
}

.off {
    color: #E55473;
}

.showcase {
    background-color: white;
    align-items: center;
    text-align: center;
}

.showcase-title-pictures {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.pics {
    width: 250px;
    height: 300px;
}

.deals {
    height: 35vh;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 71%;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.input-box {
    border-radius: 8px;
    background: #FFF;
    width: 450px;
    height: 40px;
}


.last {
    height: 35vh;
    background-color: #000000d6;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.last-title {
    padding-bottom: 30px;
    font-size: 34px;
    font-weight: 800;
}

.last-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
}

.bonus{
    display: flex;   
    height: 70vh;
    background-color: rgba(255, 100, 162, 0.386);
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
    
    
}
.bonus-l{
    text-align: left;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 4px 4px 12px red;
    
}
